/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter), sans-serif;
  font-variation-settings: 'wght' var(--regular-weight);
  background:
  repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px 2px,
      transparent 2px 4px
  ),
  repeating-linear-gradient(
        to right,
        #d3d3d3 0px 2px,
        transparent 2px 4px
  ),
  linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
}

.inline-size {
  inline-size: var(--inline-size);
}

.header {
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  background-color: var(--main-bg-color);
  border: var(--border-color) 2px solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  text-transform:  uppercase;
  margin-inline: auto;
  margin-block: 100px;
  text-align: center;
  line-height: 0.7;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__small-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.section {
  margin-block-end: 50px;
  block-size: min-content;
  margin-inline: auto;
  background-color: var(--main-bg-color);
}

.section__title {
  padding: 5px 10px;
  border: var(--border-color) 2px solid;
}

.section__title h2 {
  font-size: var(--main-size);
  font-weight: var(--bold-weight);
  text-align: start;
}

.section__image-container {
  border-inline: var(--border-color) 2px solid;
  inline-size: 100%;
  position: relative;
}

.section__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
}

.sprint_1 {
  filter: grayscale(0.8);
}

.sprint_1_1 {
  filter: saturate(3);
}

.sprint_2 {
  filter: hue-rotate(20deg);
}

.sprint_2_1 {
  filter: invert(0.8);
}

.sprint_3 {
  filter: sepia(1);
}

.sprint_3_1 {
  filter: blur(12px);
}

.end {
  filter: hue-rotate(100deg) contrast(0.5) blur(2px);
}

.watermark {
  color: black;
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, -0.0637rem + 3.7383vw, 1.5625rem);
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  text-shadow:
          -1px -1px 0 var(--main-bg-color),
          1px -1px 0 var(--main-bg-color),
          -1px  1px 0 var(--main-bg-color),
          1px  1px 0 var(--main-bg-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--main-bg-color)) and (text-stroke: 1px var(--main-bg-color)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-bg-color);
    text-stroke: 1px var(--main-bg-color);
  }
}

.section__description {
  padding: 25px;
  border: var(--border-color) 2px solid;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section__article {
  font-size: var(--main-size);
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.like-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  transition: fill 0.03s ease-out;
}

.like-icon .main-body {
  transition: fill 0.3s ease-out;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease-out;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s ease-out;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease-out;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s ease-out;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s ease-out;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease-out;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s ease-out;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in 1;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-in 0.3s 0.1s ease-in 1;
}

@keyframes scale-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card__icon-button {
  background-color: transparent;
  block-size: 38px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 0.3s ease;
}

.card__icon-button:focus {
  outline: 2px solid transparent;
}

.card__icon-button:focus-visible {
  outline-color: var(--border-color);
}

.button {
  background-color: var(--main-bg-color);
  position: relative;
  border: var(--border-color) 2px solid;
  border-radius: 0;
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  z-index: 0;
}

.button__text {
  color: var(--main-bg-color);
  mix-blend-mode: difference;
}

.button__icon {
  fill: var(--main-bg-color);
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
  box-shadow: var(--button-focus-shadow);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.open-modal-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  line-height: 0.9;
  padding: 15px 20px;
  margin-inline: auto;
  margin-block-end: 103px;
}

.dialog {
  font-family: var(--PressStart2P), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 30px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: min-content clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  gap: 30px 20px;
  block-size: min-content;
  inline-size: min-content;
  justify-items: center;
  align-items: center;
}

.dialog .button {
  grid-row: 2;
  grid-column: 1/3;
  block-size: 38px;
  inline-size: 100%;
}